<div class="container">
    <div class="row row-gap-4">
        <div class="col-lg-4">
            <div class="footer-about">
                <div class="footer-logo">
                    <img src="assets/img/logo-white.svg" alt="">
                </div>
                <p>Plateforme conçue pour aider les organisations, les formateurs et les apprenants à gérer, diffuser et suivre les activités de formation.</p>
                <div class="d-flex align-items-center">
                    <a href="javascript:void(0);" class="me-2"><img src="assets/img/icon/appstore.svg" alt=""></a>
                    <a href="javascript:void(0);"><img src="assets/img/icon/googleplay.svg" alt=""></a>
                </div>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="row row-gap-4">
                <div class="col-lg-4 col-md-4">
                    <div class="footer-widget footer-menu">
                        <h5 class="footer-title">Support</h5>
                        <ul>
                            <li><a [routerLink]="routes.courseListPublic">Formations</a></li>
                            <li><a [routerLink]="routes.register">Créer un compte</a></li>
                            <li><a [routerLink]="routes.verifyCertificate">Vérifier un certificat</a></li>
                            <li><a [routerLink]="routes.contactUs">Contacter le support</a></li>
                            <li><a [routerLink]="routes.blog_grid">Blog</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="footer-widget footer-menu">
                        <h5 class="footer-title">À propos</h5>
                        <ul>
                            <li><a [routerLink]="routes.courseCategory">Catégories</a></li>
                            <li><a [routerLink]="routes.courseList">Cours</a></li>
                            <li><a [routerLink]="routes.aboutUs">Qui sommes-nous</a></li>
                            <li><a [routerLink]="routes.page_faq">FAQ</a></li>
                            <li><a [routerLink]="routes.contactUs">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="footer-widget footer-menu">
                        <h5 class="footer-title">Liens utiles</h5>
                        <ul>
                            <li><a href="javascript:void(0);">Nos valeurs</a></li>
                            <li><a href="javascript:void(0);">Notre équipe</a></li>
                            <li><a href="javascript:void(0);">Nos partenaires</a></li>
                            <li><a href="javascript:void(0);">Devenir partenaire</a></li>
                            <li><a href="javascript:void(0);">Nous rejoindre</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>							
        <div class="col-lg-3">
            <div class="footer-widget footer-contact">
                <h5 class="footer-title">Newsletter</h5>
                <div class="footer-newsletter">
                    <p>Inscrivez-vous pour recevoir nos actualités.</p>							
                    <form action="javascript:void(0);">
                        <div class="subscribe-form">
                            <span>
                                <i class="isax isax-message-text"></i>
                            </span>
                            <input type="email" class="form-control" placeholder="Adresse e-mail">
                        </div>
                        <button type="submit" class="btn btn-secondary btn-xl w-100">S'abonner</button>		
                    </form>	
                </div>	
            </div>
        </div>
    </div>
</div>