<div class="breadcrumb-bar text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-12">
                <h2 class="breadcrumb-title mb-2">{{ pageTitleFr }}</h2>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center mb-0">
                        <li class="breadcrumb-item"><a [routerLink]="routes.home">Accueil</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{ pageTitleFr }}</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="public-page-content">
    <router-outlet></router-outlet>
</div>
<app-footer></app-footer>
