<div class="mb-3">
    <h5>Parametres</h5>
</div>				
    <ul class="settings-nav d-flex align-items-center flex-wrap border bg-light-900 rounded">
        <li><a [routerLink]="routes.instructorSettings" routerLinkActive="active">Profil</a></li>
        <li><a [routerLink]="routes.instructorChangePassword" routerLinkActive="active">Securite</a></li>
        <li><a [routerLink]="routes.instructorSocialProfiles" routerLinkActive="active">Profils sociaux</a></li>
        <li><a [routerLink]="routes.instructorSettingNotifications" routerLinkActive="active">Notifications</a></li>
        <li><a [routerLink]="routes.instructorSettingWithdraw" routerLinkActive="active">Retrait</a></li>
    </ul>

<router-outlet></router-outlet> 
