<div class="content">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-9">
        <div class="blog">
          <div class="blog-image">
            <a [routerLink]="routes.blog_details">
              <img class="img-fluid" src="./assets/img/blog/blog-img-1.jpg" alt="img">
            </a>
          </div>
          <div class="blog-item">
            <h5 class="mb-2"><a [routerLink]="routes.blog_details">Apprenez le développement web avec des experts en 2024</a></h5>
            <p class="text-truncate line-clamb-2">Maîtrisez l'art du développement d'applications web grâce à des cours animés par des experts couvrant les derniers outils et frameworks...</p>
            <div class="blog-info">
              <div class="d-flex align-items-center flex-wrap justify-content-between gap-2">
                <div class="d-flex align-items-center user-profile">
                  <a [routerLink]="routes.instructorDetails" class="user-img"><img class="rounded-pill w-auto" src="./assets/img/user/user-52.jpg" alt="img"></a>
                  <a [routerLink]="routes.instructorDetails" class="user-name">Jean Dupont</a>
                </div>
                <ul class="d-flex align-items-center flex-wrap gap-2">
                  <li>
                    <img class="me-1" src="./assets/img/icons/calendar.svg" alt="img">
                    <p>20 Avr 2024</p>
                  </li>
                  <li>
                    <img class="me-1" src="./assets/img/icons/tag.svg" alt="img">
                    <p>Programmation, Design Web</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="blog">
          <div class="blog-image">
            <a [routerLink]="routes.blog_details">
              <img class="img-fluid" src="./assets/img/blog/blog-img-3.jpg" alt="img">
            </a>
          </div>
          <div class="blog-item">
            <h5 class="mb-2"><a [routerLink]="routes.blog_details">Le cours JavaScript complet pour les débutants</a></h5>
            <p class="text-truncate line-clamb-2">Plongez dans le monde de JavaScript avec notre cours complet adapté aux débutants ! Apprenez les concepts essentiels...</p>
            <div class="blog-info">
              <div class="d-flex align-items-center flex-wrap justify-content-between gap-2">
                <div class="d-flex align-items-center user-profile">
                  <a [routerLink]="routes.instructorDetails" class="user-img"><img class="rounded-pill w-auto" src="./assets/img/user/user-15.jpg" alt="img"></a>
                  <a [routerLink]="routes.instructorDetails" class="user-name">Sophie Martin</a>
                </div>
                <ul class="d-flex align-items-center flex-wrap gap-2">
                  <li>
                    <img class="me-1" src="./assets/img/icons/calendar.svg" alt="img">
                    <p>08 Avr 2024</p>
                  </li>
                  <li>
                    <img class="me-1" src="./assets/img/icons/tag.svg" alt="img">
                    <p>Programmation, JavaScript</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>    
      <div class="col-lg-9">
      <div class="blog">
        <div class="blog-image">
          <a [routerLink]="routes.blog_details">
            <img class="img-fluid" src="./assets/img/blog/blog-img-2.jpg" alt="img">
          </a>
        </div>
        <div class="blog-item">
          <h5 class="mb-2"><a [routerLink]="routes.blog_details">Révolutionnez l'apprentissage avec un LMS moderne</a></h5>
          <p class="text-truncate line-clamb-2">Découvrez comment une plateforme de gestion de l'apprentissage (LMS) peut transformer l'éducation et la formation professionnelle...</p>
          <div class="blog-info">
            <div class="d-flex align-items-center flex-wrap justify-content-between gap-2">
              <div class="d-flex align-items-center user-profile">
                <a [routerLink]="routes.instructorDetails" class="user-img"><img class="rounded-pill w-auto" src="./assets/img/user/user-05.jpg" alt="img"></a>
                <a [routerLink]="routes.instructorDetails" class="user-name">Ahmed Ben Ali</a>
              </div>
              <ul class="d-flex align-items-center flex-wrap gap-2">
                <li>
                  <img class="me-1" src="./assets/img/icons/calendar.svg" alt="img">
                  <p>23 Fév 2024</p>
                </li>
                <li>
                  <img class="me-1" src="./assets/img/icons/tag.svg" alt="img">
                  <p>Apprentissage moderne, Innovation</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Dynamic published posts from admin -->
    @for (post of dynamicPosts; track post.id) {
    <div class="col-lg-9">
      <div class="blog">
        <div class="blog-image">
          <a href="javascript:void(0);">
            <img class="img-fluid" [src]="post.coverImage || './assets/img/blog/blog-16.jpg'" alt="img">
          </a>
        </div>
        <div class="blog-item">
          <h5 class="mb-2"><a href="javascript:void(0);">{{ post.title }}</a></h5>
          <p class="text-truncate line-clamb-2">{{ post.summary }}</p>
          <div class="blog-info">
            <div class="d-flex align-items-center flex-wrap justify-content-between gap-2">
              <div class="d-flex align-items-center user-profile">
                <span class="user-name">{{ post.authorName }}</span>
              </div>
              <ul class="d-flex align-items-center flex-wrap gap-2">
                <li>
                  <img class="me-1" src="./assets/img/icons/calendar.svg" alt="img">
                  <p>{{ post.createdAt | date:'dd MMM yyyy' }}</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    }
    <!-- /Dynamic posts -->
    </div>
  <!-- /pagination -->
  <div class="row align-items-center">
    <div class="col-md-12">
      <ul class="pagination justify-content-center">
        <li class="page-item prev">
          <a class="page-link" href="javascript:void(0);" tabindex="-1"><i class="fas fa-angle-left"></i></a>
        </li>
        <li class="page-item first-page active">
          <a class="page-link" href="javascript:void(0);">1</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="javascript:void(0);">2</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="javascript:void(0);">3</a>
        </li>
        <li class="page-item next">
          <a class="page-link" href="javascript:void(0);"><i class="fas fa-angle-right"></i></a>
        </li>
      </ul>
    </div>
  </div>
  <!-- /pagination -->
  </div>
  </div>